@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

p {
    font-size: 2vh;
}

canvas {
    /*border-radius: 3vh;
    box-shadow: 0.2em 0.2em 20px #0f101831;*/
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f3f2f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    padding-right: 4vw;
    padding-left: 4vw;
}

.title h1 {
    font-size: 6vh;
    font-weight: 900;
}

h2 {
    font-size: 2vh;
    color: rgb(114, 114, 114);
}

.main {
/*    flex: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 4vh;*/
    margin: auto 0;
    width: 30vw;
}

/*.main-left {
    width: 38%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

.main-right {
    width: 62%;
    height: 60vh;
}

.socials {
    padding-top: 4em;
}

.socials h2 {
    color: rgb(26, 26, 26);
}

.socials-button:hover {
    width: 150px;
}

.socials-button:hover .icon i {
    color: #ffffff;
}

.socials-button {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 8px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease-out;
}

.socials-button span {
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.socials-button .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
    transition: all 0.3s ease-out;
}

.footer {
    font-size: 15px;
    width: auto;
    bottom: 0;
    padding-bottom: 8px;
}

.footer hr {
    border-top: 1px solid rgb(42, 42, 42);
    border-radius: 1px;
}

@media (max-width: 700px) {
    .title p {
        font-size: 3.5vw;
    }
}