* {
    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

html, body {
    overflow: hidden;
}

.title {
    position: absolute;
    font-family: monospace;
    margin: 2vw;
}

.title h1 {
    font-size: 6vh;
}

.title p {
    font-size: 3vh;
    color: grey;
}

@media (max-width: 700px) {
    .title p {
        font-size: 3.5vw;
    }
}