@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

p {
    font-size: 2vh;
}

body {
    background-color: #f3f2f0;
}

#canvas-div {
    top: 0;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.section {
    width: 92vw;
    height: 100vh;
    padding-right: 4vw;
    padding-left: 4vw;
}

#upper-section {
    display: none;
}

#lower-section {
    margin: auto 0;
}

.title h1 {
    font-size: 6vh;
    font-weight: 900;
}

.title {
    display: block;
    width: 30vw;
}

h2 {
    font-size: 2vh;
    color: rgb(114, 114, 114);
}

.main {}

.socials {
    padding-top: 4em;
}

.socials h2 {
    color: rgb(26, 26, 26);
}

.socials-button:hover {
    width: 150px;
}

.socials-button:hover .icon i {
    color: #ffffff;
}

.socials-button {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 8px;
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease-out;
}

.socials-button span {
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.socials-button .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
    transition: all 0.3s ease-out;
}

.footer {
    font-size: 15px;
    bottom: 0;
    padding-bottom: 8px;
}

.footer hr {
    border-top: 1px solid rgb(42, 42, 42);
    border-radius: 1px;
}

@media (max-width: 700px) {
    #upper-section {
        display: block;
    }
    .title {
        width: 60vw;
    }
}